exports/workflows/01_ingest_jobs.json
{
  "name": "Job Import",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 9
            },
            {
              "triggerAtHour": 12
            },
            {
              "triggerAtHour": 17
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        80,
        0
      ],
      "id": "94b64dc0-6ac0-4afb-a1e1-e93917e63152",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "url": "http://localhost:8000/jobs/hiringcafe",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "search_url",
              "value": "={{ $json.link }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        944,
        16
      ],
      "id": "23822a6b-9758-48c6-81b9-a0b86a235cd1",
      "name": "Pull jobs from hiring cafe"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "2c5cb57e-ea3d-4f99-b73f-f24bf9792cb5",
              "name": "job_id",
              "value": "={{ $json.id }}",
              "type": "string"
            },
            {
              "id": "6b7fd45e-1161-4cec-b5bf-932a9b9961e6",
              "name": "company_name",
              "value": "={{ $json.v5_processed_job_data.company_name }}",
              "type": "string"
            },
            {
              "id": "9b4b6b27-2954-4853-aa88-586229118731",
              "name": "title",
              "value": "={{ $json.job_information.title }}",
              "type": "string"
            },
            {
              "id": "07dbac79-835b-4f78-a2b2-2ae40f719326",
              "name": "yearly_min_compensation",
              "value": "={{ $json.v5_processed_job_data.yearly_min_compensation }}",
              "type": "number"
            },
            {
              "id": "c9a54759-cbbc-448c-bcdc-90ad9a0ba632",
              "name": "yearly_max_compensation",
              "value": "={{ $json.v5_processed_job_data.yearly_max_compensation }}",
              "type": "number"
            },
            {
              "id": "69ce95cb-e48d-438b-b68a-bf7e458c19f8",
              "name": "apply_url",
              "value": "={{ $json.apply_url }}",
              "type": "string"
            },
            {
              "id": "56ebb4d1-60f9-4930-bb1b-1d50686b7aa9",
              "name": "description",
              "value": "={{ $json.job_information.description }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1520,
        16
      ],
      "id": "eabd7ee7-3dbf-440e-af84-bfed1fa48b6e",
      "name": "Extract Key Data"
    },
    {
      "parameters": {
        "dataTableId": {
          "__rl": true,
          "value": "JOB_POSTINGS_TABLE_ID",
          "mode": "list"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "yearly_min_compensation": "={{ $json.yearly_min_compensation }}",
            "yearly_max_compensation": "={{ $json.yearly_max_compensation }}",
            "job_id": "={{ $json.job_id }}",
            "company_name": "={{ $json.company_name }}",
            "title": "={{ $json.title }}",
            "apply_url": "={{ $json.apply_url }}",
            "description": "={{ $json.description }}",
            "status": "new",
            "prompt_version": 0
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "score",
              "displayName": "score",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "apply_url",
              "displayName": "apply_url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "company_name",
              "displayName": "company_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "title",
              "displayName": "title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "job_id",
              "displayName": "job_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "recommendation",
              "displayName": "recommendation",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "yearly_min_compensation",
              "displayName": "yearly_min_compensation",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "yearly_max_compensation",
              "displayName": "yearly_max_compensation",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "description",
              "displayName": "description",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "scored_at",
              "displayName": "scored_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "prompt_key",
              "displayName": "prompt_key",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "tailored_resume",
              "displayName": "tailored_resume",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "strengths",
              "displayName": "strengths",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "gaps",
              "displayName": "gaps",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "missing_from_jd",
              "displayName": "missing_from_jd",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "justification",
              "displayName": "justification",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "prompt_version",
              "displayName": "prompt_version",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {
          "optimizeBulk": false
        }
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        2032,
        16
      ],
      "id": "333865f1-1e76-4b68-84f7-aba047edcdbb",
      "name": "Add Job Posting to Data Table",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "operation": "rowNotExists",
        "dataTableId": {
          "__rl": true,
          "value": "JOB_POSTINGS_TABLE_ID",
          "mode": "list"
        },
        "filters": {
          "conditions": [
            {
              "keyName": "job_id",
              "keyValue": "={{ $json.job_id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        1776,
        16
      ],
      "id": "5d8d341d-03c5-4a1c-9cd6-358360cc6585",
      "name": "Check if Job Posting Doesn't Exist",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "fieldToSplitOut": "results",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        1248,
        16
      ],
      "id": "2695a3da-83aa-478c-a8cb-7e68d1688833",
      "name": "Flatten To List"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        288,
        0
      ],
      "id": "935a16ac-2c85-40eb-88e4-33e7f13ed9c1",
      "name": "Get Hiring Cafe Searches"},
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        544,
        0
      ],
      "id": "a5fcf806-fb08-4853-b97c-0014e1dad354",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "operation": "deleteRows",
        "dataTableId": {
          "__rl": true,
          "value": "JOB_POSTINGS_TABLE_ID",
          "mode": "list"
        },
        "filters": {
          "conditions": [
            {
              "keyName": "job_id",
              "condition": "isEmpty"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        960,
        -272
      ],
      "id": "9c957738-06cb-4e26-9318-80d0fd2b9ca3",
      "name": "Clean up Bad Records"
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get Hiring Cafe Searches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pull jobs from hiring cafe": {
      "main": [
        [
          {
            "node": "Flatten To List",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Key Data": {
      "main": [
        [
          {
            "node": "Check if Job Posting Doesn't Exist",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check if Job Posting Doesn't Exist": {
      "main": [
        [
          {
            "node": "Add Job Posting to Data Table",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Flatten To List": {
      "main": [
        [
          {
            "node": "Extract Key Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add Job Posting to Data Table": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Hiring Cafe Searches": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Clean up Bad Records",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Pull jobs from hiring cafe",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "tags": []
}