exports/workflows/02_score_jobs_llm.json
{
  "name": "Job Scoring",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "triggerAtMinute": 5
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        -160
      ],
      "id": "673b56ca-8fdc-43e2-970d-6dff73ec77c0",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "JOB_POSTINGS_TABLE_ID",
          "mode": "list"
        },
        "matchType": "allConditions",
        "filters": {
          "conditions": [
            {
              "keyName": "status",
              "keyValue": "new"
            }
          ]
        },
        "returnAll": true,
        "orderBy": true
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        224,
        -64
      ],
      "id": "2f94e22b-ce66-4921-a09b-420a5c67c560",
      "name": "Get New Job Postings"
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "PROMPT_LIBRARY_TABLE_ID",
          "mode": "list"
        },
        "matchType": "allConditions",
        "filters": {
          "conditions": [
            {
              "keyName": "prompt_key",
              "keyValue": "product"
            },
            {
              "keyName": "is_active",
              "condition": "isTrue"
            }
          ]
        },
        "returnAll": true
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        448,
        -256
      ],
      "id": "e4f255cd-7dca-4f2e-8bc8-19d27f0d477b",
      "name": "Get Prompts and Resumes"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b1e1e4b7-bcad-4136-9d30-88d08f110371",
              "name": "prompt_key",
              "value": "=product",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        448,
        -64
      ],
      "id": "2433bd0d-32ca-42d6-982d-5cb86f30e248",
      "name": "Set Prompt Key as product"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "qwen2.5:14b-instruct",
          "mode": "list",
          "cachedResultName": "qwen2.5:14b-instruct"
        },
        "messages": {
          "values": [
            {
              "content": "={{ $json.rendered_user_prompt }}"
            }
          ]
        },
        "simplify": false,
        "options": {
          "system": "={{ $json.system_prompt }}",
          "num_ctx": 50000
        }
      },
      "type": "@n8n/n8n-nodes-langchain.ollama",
      "typeVersion": 1,
      "position": [
        1120,
        -160
      ],
      "id": "e976a319-a851-4003-a227-f8eda6b37ed1",
      "name": "Resume Scoring",
      "alwaysOutputData": false,
      "notesInFlow": false
    },
    {
      "parameters": {
        "operation": "update",
        "dataTableId": {
          "__rl": true,
          "value": "JOB_POSTINGS_TABLE_ID",
          "mode": "list"
        },
        "filters": {
          "conditions": [
            {
              "keyName": "job_id",
              "keyValue": "={{ $json.job_id }}"
            }
          ]
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "scored_at": "={{ $now }}",
            "score": "={{ $json.total_score }}",
            "strengths": "={{ JSON.stringify($json.strengths) }}",
            "gaps": "={{ JSON.stringify($json.gaps) }}",
            "missing_from_jd": "={{ JSON.stringify($json.missing_from_jd) }}",
            "recommendation": "={{ $json.recommendation }}",
            "justification": "={{ $json.justification }}",
            "status": "scored",
            "prompt_version": "={{ $json.prompt_version }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "score",
              "displayName": "score",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "apply_url",
              "displayName": "apply_url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "company_name",
              "displayName": "company_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "title",
              "displayName": "title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "job_id",
              "displayName": "job_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "recommendation",
              "displayName": "recommendation",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "yearly_min_compensation",
              "displayName": "yearly_min_compensation",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "yearly_max_compensation",
              "displayName": "yearly_max_compensation",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "description",
              "displayName": "description",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "scored_at",
              "displayName": "scored_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "prompt_key",
              "displayName": "prompt_key",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "tailored_resume",
              "displayName": "tailored_resume",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "source",
              "displayName": "source",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "source_url",
              "displayName": "source_url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "strengths",
              "displayName": "strengths",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "gaps",
              "displayName": "gaps",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "missing_from_jd",
              "displayName": "missing_from_jd",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "justification",
              "displayName": "justification",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "prompt_version",
              "displayName": "prompt_version",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        1920,
        -160
      ],
      "id": "0af56437-e9ab-49ec-9eb8-9c30000b9845",
      "name": "Insert Score",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "mode": "combine",
        "fieldsToMatchString": "prompt_key",
        "options": {
          "clashHandling": {
            "values": {
              "resolveClash": "preferInput1"
            }
          }
        }
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        672,
        -160
      ],
      "id": "6e280281-89f8-4abf-9b84-9d46f24fbddc",
      "name": "Pre Prompt Merge"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={{ JSON.parse($json.message.content) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1472,
        -160
      ],
      "id": "34e4df50-002d-464a-8f10-0413d4c56fde",
      "name": "Extract Response",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Run once for EACH item\n\nconst template = String($json.user_prompt_template ?? \"\");\n\nconst rendered = template\n  .replace(/{{\\s*job_id\\s*}}/g, String($json.job_id ?? \"\"))\n  .replace(/{{\\s*resume\\s*}}/g, String($json.base_resume_template ?? \"\"))\n  .replace(/{{\\s*description\\s*}}/g, String($json.description ?? \"\"));\n\n// IMPORTANT: return ONE item (not an array) in this mode\nreturn {\n  json: {\n    ...$json,\n    rendered_user_prompt: rendered,\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        896,
        -160
      ],
      "id": "95268830-9d5d-403a-803f-e96fa5873244",
      "name": "Prepare Prompt"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "b99c16f1-d7a6-4a70-9329-0578f190ccff",
              "leftValue": "={{ $json.score }}",
              "rightValue": 20,
              "operator": {
                "type": "number",
                "operation": "gte"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.3,
      "position": [
        2144,
        -160
      ],
      "id": "80953d67-79fe-446a-87a2-3e638f2d91df",
      "name": "Remove low scores"
    },
    {
      "parameters": {
        "operation": "append",
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Date Submitted": "={{ $now.format('yyyy-MM-dd') }}",
            "Company": "={{ $json.company_name }}",
            "Title": "={{ $json.title }}",
            "Status": "Pending",
            "n8n score": "={{ $json.score }}",
            "Job Link": "={{ $json.apply_url }}",
            "Stage Reached": "Pending",
            "Referal?": "n8n",
            "Salary": "={{`$${Math.round($json.yearly_min_compensation/1000)}k-$${Math.round($json.yearly_max_compensation/1000)}k`}}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Date Submitted",
              "displayName": "Date Submitted",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Company",
              "displayName": "Company",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Title",
              "displayName": "Title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Salary",
              "displayName": "Salary",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Job Link",
              "displayName": "Job Link",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Score",
              "displayName": "Score",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Stage Reached",
              "displayName": "Stage Reached",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "n8n score",
              "displayName": "n8n score",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Cover Letter",
              "displayName": "Cover Letter",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Referal?",
              "displayName": "Referal?",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Rejection Date",
              "displayName": "Rejection Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Rejection Copy",
              "displayName": "Rejection Copy",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Case Study",
              "displayName": "Case Study",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Screening Date",
              "displayName": "Screening Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Round 2 Date",
              "displayName": "Round 2 Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Round 3 Date",
              "displayName": "Round 3 Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Round 4 Date",
              "displayName": "Round 4 Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Offer?",
              "displayName": "Offer?",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        2368,
        -160
      ],
      "id": "fbe215c1-e5df-4581-96fe-04d3e16cb978",
      "name": "Add to Tracker"
    },
    {
      "parameters": {
        "sendTo": "you@example.com",
        "subject": "Job Matches found",
        "message": "=<table cellpadding=\"8\" cellspacing=\"0\" border=\"1\" style=\"border-collapse:collapse; font-family:Arial, sans-serif; font-size:14px;\">\n  <thead>\n    <tr style=\"font-weight:bold; background:#f2f2f2;\">\n      <th align=\"left\">Company</th>\n      <th align=\"left\">Title</th>\n      <th align=\"left\">Salary</th>\n      <th align=\"left\">n8n Score</th>\n      <th align=\"left\">Job Link</th>\n    </tr>\n  </thead>\n\n  <tbody>\n    {{\n      $json.data\n        .map(job => `\n          <tr>\n            <td>${job[\"Company\"] ?? \"\"}</td>\n            <td>${job[\"Title\"] ?? \"\"}</td>\n            <td>${job[\"Salary\"] ?? \"\"}</td>\n            <td>${job[\"n8n score\"] ?? \"\"}</td>\n            <td><a href=\"${job[\"Job Link\"] ?? \"#\"}\">View</a></td>\n          </tr>\n        `)\n        .join(\"\")\n    }}\n  </tbody>\n</table>",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        2816,
        -160
      ],
      "id": "52951d6d-8176-401e-8856-26e3989349da",
      "name": "Send a message"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        2592,
        -160
      ],
      "id": "a98244f2-0377-407c-a832-7f8bab75542c",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "005c2547-60e2-4024-b169-3c6c72474969",
              "leftValue": "={{ $json.job_id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.3,
      "position": [
        1696,
        -160
      ],
      "id": "8b0bd167-468e-472a-86e7-496593112887",
      "name": "Remove malformed scoring"
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get New Job Postings",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get Prompts and Resumes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get New Job Postings": {
      "main": [
        [
          {
            "node": "Set Prompt Key as product",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Prompts and Resumes": {
      "main": [
        [
          {
            "node": "Pre Prompt Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Prompt Key as product": {
      "main": [
        [
          {
            "node": "Pre Prompt Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Resume Scoring": {
      "main": [
        [
          {
            "node": "Extract Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pre Prompt Merge": {
      "main": [
        [
          {
            "node": "Prepare Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Response": {
      "main": [
        [
          {
            "node": "Remove malformed scoring",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Prompt": {
      "main": [
        [
          {
            "node": "Resume Scoring",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert Score": {
      "main": [
        [
          {
            "node": "Remove low scores",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Remove low scores": {
      "main": [
        [
          {
            "node": "Add to Tracker",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add to Tracker": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Remove malformed scoring": {
      "main": [
        [
          {
            "node": "Insert Score",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "tags": []
}