exports/workflows/Application Generation.json
{
  "name": "Application Generation",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 15
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -320,
        -160
      ],
      "id": "91373346-b404-4958-bbee-332618ec6efe",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "url": "http://<job-pipeline-service-host>:8000/jobs",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "status",
              "value": "new"
            },
            {
              "name": "limit",
              "value": "100"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -64,
        -160
      ],
      "id": "af571d63-444d-4ff4-b918-30cbca54fbdb",
      "name": "List New Jobs"
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const response = $input.first().json;\nconst jobs = Array.isArray(response?.items) ? response.items : [];\n\nreturn jobs\n  .filter((job) => job.classification_key)\n  .map((job) => ({\n    json: {\n      id: job.id,\n      job_posting_id: job.id,\n      job_id: job.job_id,\n      classification_key: job.classification_key,\n    },\n  }));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        192,
        -160
      ],
      "id": "4d8bd2b4-b2c7-42ae-b53d-db36c65e801c",
      "name": "Select Classified Jobs"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://<job-pipeline-service-host>:8000/applications/generate",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { \"job_posting_id\": $json.job_posting_id } }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        448,
        -160
      ],
      "id": "14941eb6-1abd-4837-a72e-fcc3eb3ca6b3",
      "name": "Generate Applications"
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "List New Jobs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "List New Jobs": {
      "main": [
        [
          {
            "node": "Select Classified Jobs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Select Classified Jobs": {
      "main": [
        [
          {
            "node": "Generate Applications",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "phase4-application-generation",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": ""
  },
  "id": "p2OACy7iXz8g5EWn",
  "tags": []
}
