exports/workflows/Application Score Callback.json
{
  "name": "Application Score Callback",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "application-score-complete",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -1552,
        176
      ],
      "id": "fa840583-9128-4d06-8220-3cf502838a45",
      "name": "Application Score Complete",
      "webhookId": "application-score-complete"
    },
    {
      "parameters": {
        "url": "=http://<job-pipeline-service-host>:8000/applications",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "user_id",
              "value": "1"
            },
            {
              "name": "score_min",
              "value": "20"
            },
            {
              "name": "status",
              "value": "scored"
            },
            {
              "name": "limit",
              "value": "100"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -1312,
        96
      ],
      "id": "68ac6985-b872-4b7b-a6f3-498c339f65eb",
      "name": "Get Application"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=http://<job-pipeline-service-host>:8000/applications/{{ $json.id }}/notify",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "status",
              "value": "notified"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -480,
        80
      ],
      "id": "1830e551-33e6-49a7-8304-3c7fb5375e1f",
      "name": "Mark Application Notified"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "REPLACE_WITH_GOOGLE_SHEET_ID",
          "mode": "list",
          "cachedResultName": "REPLACE_WITH_GOOGLE_SHEET_NAME",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/REPLACE_WITH_GOOGLE_SHEET_ID/edit"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "REPLACE_WITH_SHEET_TAB_NAME",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/REPLACE_WITH_GOOGLE_SHEET_ID/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Date Submitted": "={{ $now.format('yyyy-MM-dd') }}",
            "Company": "={{ $json.company_name }}",
            "Title": "={{ $json.title }}",
            "Status": "=Pending",
            "n8n score": "={{ $json.score }}",
            "Job Link": "={{ $json.apply_url }}",
            "Stage Reached": "=Pending",
            "Referal?": "n8n",
            "Salary": "={{`$${Math.round($json.yearly_min_compensation/1000)}k-$${Math.round($json.yearly_max_compensation/1000)}k`}}",
            "n8n screening likelihood": "={{ $json.screening_likelihood }}",
            "Role Type": "={{ $json.classification_key }}",
            "Job ID": "={{ $json.job_id }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Date Submitted",
              "displayName": "Date Submitted",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Job ID",
              "displayName": "Job ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Company",
              "displayName": "Company",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Title",
              "displayName": "Title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Salary",
              "displayName": "Salary",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Job Link",
              "displayName": "Job Link",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Score",
              "displayName": "Score",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Stage Reached",
              "displayName": "Stage Reached",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "n8n score",
              "displayName": "n8n score",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "n8n screening likelihood",
              "displayName": "n8n screening likelihood",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Role Type",
              "displayName": "Role Type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Cover Letter",
              "displayName": "Cover Letter",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Referal?",
              "displayName": "Referal?",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Rejection Date",
              "displayName": "Rejection Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Rejection Copy",
              "displayName": "Rejection Copy",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Case Study",
              "displayName": "Case Study",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Screening Date",
              "displayName": "Screening Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Round 2 Date",
              "displayName": "Round 2 Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Round 3 Date",
              "displayName": "Round 3 Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Round 4 Date",
              "displayName": "Round 4 Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Offer?",
              "displayName": "Offer?",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -896,
        -64
      ],
      "id": "86e075f7-1069-4e98-9229-81b323ceef6e",
      "name": "Add to Tracker",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "",
          "name": "RECONNECT_GOOGLE_SHEETS_CREDENTIAL"
        }
      }
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        -240,
        80
      ],
      "id": "12749e10-e16a-4231-895c-cf5e91164692",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "sendTo": "REPLACE_WITH_NOTIFICATION_EMAIL",
        "subject": "Application matches found",
        "message": "=<table cellpadding=\"8\" cellspacing=\"0\" border=\"1\" style=\"border-collapse:collapse; font-family:Arial, sans-serif; font-size:14px;\">\n  <thead>\n    <tr style=\"font-weight:bold; background:#f2f2f2;\">\n      <th align=\"left\">Company</th>\n      <th align=\"left\">Title</th>\n      <th align=\"left\">Salary</th>\n      <th align=\"left\">n8n Score</th>\n      <th align=\"left\">n8n Screen</th>\n      <th align=\"left\">Role Type</th>\n      <th align=\"left\">Job Link</th>\n    </tr>\n  </thead>\n  <tbody>\n    {{\n      ($json.data ?? [])\n        .map(application => `\n          <tr>\n            <td>${application[\"company_name\"] ?? \"\"}</td>\n            <td>${application[\"title\"] ?? \"\"}</td>\n            <td>${\n              application[\"yearly_min_compensation\"] != null && application[\"yearly_max_compensation\"] != null\n                ? `$${Math.round(application[\"yearly_min_compensation\"] / 1000)}k-$${Math.round(application[\"yearly_max_compensation\"] / 1000)}k`\n                : \"\"\n            }</td>\n            <td>${application[\"score\"] ?? \"\"}</td>\n            <td>${application[\"screening_likelihood\"] ?? \"\"}</td>\n            <td>${application[\"classification_key\"] ?? \"\"}</td>\n            <td><a href=\"${application[\"apply_url\"] ?? \"#\"}\">View</a></td>\n          </tr>\n        `)\n        .join(\"\")\n    }}\n  </tbody>\n</table>",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        64,
        80
      ],
      "id": "db7df4e0-ce9b-4d34-a689-f24810c15261",
      "name": "Send a message",
      "webhookId": "",
      "credentials": {
        "gmailOAuth2": {
          "id": "",
          "name": "RECONNECT_GMAIL_CREDENTIAL"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -1552,
        -16
      ],
      "id": "dc0d7bda-9357-43b9-a192-8d1a900e3145",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "mode": "combine",
        "advanced": true,
        "mergeByFields": {
          "values": [
            {
              "field1": "Job ID",
              "field2": "job_id"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -704,
        80
      ],
      "id": "ebe8261d-ab1d-48f7-8e94-e0d358c9d7e5",
      "name": "Merge"
    },
    {
      "parameters": {
        "fieldToSplitOut": "items",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        -1104,
        96
      ],
      "id": "b25e77b0-eb09-4174-80dd-655fe0d1b578",
      "name": "Split Out"
    }
  ],
  "pinData": {},
  "connections": {
    "Application Score Complete": {
      "main": [
        [
          {
            "node": "Get Application",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Application": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add to Tracker": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Get Application",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Mark Application Notified",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mark Application Notified": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          },
          {
            "node": "Add to Tracker",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "callback-application-score-complete",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": ""
  },
  "id": "Lc6nQ3dW9sMvT8pZ",
  "tags": []
}
