exports/workflows/Classification Callback.json
{
  "name": "Classification Callback",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "job-classification-complete",
        "responseMode": "onReceived",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -368,
        -160
      ],
      "id": "b35d3ba0-5616-4683-bd61-4b060f7a829d",
      "name": "Classification Complete",
      "webhookId": "job-classification-complete"
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const payload = $input.first().json;\nif (payload?.type !== 'classification' || payload?.status !== 'completed') {\n  return [];\n}\nconst jobs = Array.isArray(payload.jobs) ? payload.jobs : [];\nif (!jobs.length) {\n  return [];\n}\nreturn [{\n  json: {\n    user_id: 1,\n    score_callback_url: 'https://<n8n-host>/webhook/application-score-complete',\n  },\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -96,
        -160
      ],
      "id": "a4f2c2b5-a3ba-4963-9d19-2dad43188c4c",
      "name": "Select Jobs To Generate"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://<job-pipeline-service-host>:8000/applications/generate/run",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { \"user_id\": $json.user_id, \"limit\": 100 } }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        176,
        -160
      ],
      "id": "b85c5803-71de-40e8-8e66-3dcf9e6b74ef",
      "name": "Generate Applications"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://<job-pipeline-service-host>:8000/applications/score/run",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { \"limit\": 100, \"status\": \"new\", \"force\": false, \"callback_url\": $json.score_callback_url } }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        448,
        -160
      ],
      "id": "7b0d98e0-bb4f-4067-84d5-ee36a71ea8df",
      "name": "Queue Application Scoring"
    }
  ],
  "pinData": {},
  "connections": {
    "Classification Complete": {
      "main": [
        [
          {
            "node": "Select Jobs To Generate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Select Jobs To Generate": {
      "main": [
        [
          {
            "node": "Generate Applications",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Applications": {
      "main": [
        [
          {
            "node": "Queue Application Scoring",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "callback-classification-complete",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": ""
  },
  "id": "K4mP8qLs2R0fWd7n",
  "tags": []
}
