exports/workflows/Job Notification.json
{
  "name": "Job Notification",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 15
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -112,
        -624
      ],
      "id": "adf8d9dc-8639-4a99-ba1c-2c08e2371d8d",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "REPLACE_WITH_GOOGLE_SHEET_ID",
          "mode": "list",
          "cachedResultName": "Replace with your tracker sheet",
          "cachedResultUrl": ""
        },
        "sheetName": {
          "__rl": true,
          "value": "REPLACE_WITH_SHEET_NAME_OR_GID",
          "mode": "list",
          "cachedResultName": "Replace with your worksheet",
          "cachedResultUrl": ""
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Date Submitted": "={{ $now.format('yyyy-MM-dd') }}",
            "Company": "={{ $json.company_name }}",
            "Title": "={{ $json.title }}",
            "Status": "Pending",
            "n8n score": "={{ $json.score }}",
            "Job Link": "={{ $json.apply_url }}",
            "Stage Reached": "Pending",
            "Referal?": "n8n",
            "Salary": "={{`$${Math.round($json.yearly_min_compensation/1000)}k-$${Math.round($json.yearly_max_compensation/1000)}k`}}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Date Submitted",
              "displayName": "Date Submitted",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Company",
              "displayName": "Company",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Title",
              "displayName": "Title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Salary",
              "displayName": "Salary",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Job Link",
              "displayName": "Job Link",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Score",
              "displayName": "Score",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Stage Reached",
              "displayName": "Stage Reached",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "n8n score",
              "displayName": "n8n score",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Cover Letter",
              "displayName": "Cover Letter",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Referal?",
              "displayName": "Referal?",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Rejection Date",
              "displayName": "Rejection Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Rejection Copy",
              "displayName": "Rejection Copy",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Case Study",
              "displayName": "Case Study",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Screening Date",
              "displayName": "Screening Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Round 2 Date",
              "displayName": "Round 2 Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Round 3 Date",
              "displayName": "Round 3 Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Round 4 Date",
              "displayName": "Round 4 Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Offer?",
              "displayName": "Offer?",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        880,
        -624
      ],
      "id": "ab82b173-aa5e-4d95-bf2a-756fe9e82d6c",
      "name": "Add to Tracker",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "REPLACE_WITH_YOUR_GOOGLE_SHEETS_CREDENTIAL_ID",
          "name": "Replace with your Google Sheets credential"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "you@example.com",
        "subject": "Job Matches found",
        "message": "=<table cellpadding=\"8\" cellspacing=\"0\" border=\"1\" style=\"border-collapse:collapse; font-family:Arial, sans-serif; font-size:14px;\">\n  <thead>\n    <tr style=\"font-weight:bold; background:#f2f2f2;\">\n      <th align=\"left\">Company</th>\n      <th align=\"left\">Title</th>\n      <th align=\"left\">Salary</th>\n      <th align=\"left\">n8n Score</th>\n      <th align=\"left\">Job Link</th>\n    </tr>\n  </thead>\n\n  <tbody>\n    {{\n      $json.data\n        .map(job => `\n          <tr>\n            <td>${job[\"Company\"] ?? \"\"}</td>\n            <td>${job[\"Title\"] ?? \"\"}</td>\n            <td>${job[\"Salary\"] ?? \"\"}</td>\n            <td>${job[\"n8n score\"] ?? \"\"}</td>\n            <td><a href=\"${job[\"Job Link\"] ?? \"#\"}\">View</a></td>\n          </tr>\n        `)\n        .join(\"\")\n    }}\n  </tbody>\n</table>",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        1424,
        -624
      ],
      "id": "243b622c-ea3e-46aa-9a56-6fefc72f7ce6",
      "name": "Send a message",
      "webhookId": "REPLACE_WITH_YOUR_WEBHOOK_ID",
      "credentials": {
        "gmailOAuth2": {
          "id": "REPLACE_WITH_YOUR_GMAIL_CREDENTIAL_ID",
          "name": "Replace with your Gmail credential"
        }
      }
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        1136,
        -624
      ],
      "id": "e1f45654-efbf-43e6-b6b4-d63021f095d1",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "fieldToSplitOut": "items",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        336,
        -624
      ],
      "id": "5332d42d-c2d1-4e0d-9347-e7798bb5e04e",
      "name": "Split Out"
    },
    {
      "parameters": {
        "url": "http://<job-pipeline-service-host>:8000/jobs",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "status",
              "value": "scored"
            },
            {
              "name": "scored_since",
              "value": "={{ new Date($now - 3 * 24 * 60 * 60 * 1000) }}"
            },
            {
              "name": "score",
              "value": "18"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        112,
        -624
      ],
      "id": "cd92ceec-78f9-463c-bbc6-f9a28d0c88c2",
      "name": "Get Scored Jobs"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=http://<job-pipeline-service-host>:8000/jobs/{{ $json.id }}/notify",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "notified_at",
              "value": "={{ $now }}"
            },
            {
              "name": "id",
              "value": "={{ $json.id }}"
            },
            {
              "name": "status",
              "value": "notified"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        880,
        -816
      ],
      "id": "e51472fc-7d56-4b35-bca1-1a4aa233bdbf",
      "name": "Mark as Notified"
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get Scored Jobs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add to Tracker": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Mark as Notified",
            "type": "main",
            "index": 0
          },
          {
            "node": "Add to Tracker",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Scored Jobs": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mark as Notified": {
      "main": [
        []
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "79cdc50c-c7a6-4036-9020-26ead69f4eca",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "4b822023187a5edc90d108fd34ec387e96fd3f58e06d64a8f9f7e008f280d4e3"
  },
  "id": "fPHA3W17DrVEy94O",
  "tags": []
}
